<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
    </head>

    <body>
        {% if user.is_authenticated %}
            <a href="{% url 'create_accounts:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'create_accounts:login' %}">Login</a>
            <a href="{% url 'create_accounts:signup' %}">Signup</a>
        {% endif %}

        {% include 'include/messages.html' %}
        {% include 'include/dashboard.html' %}

        {% block content %}
        {% endblock %} 
    </body>

</html>

