{% if form_data %}
    {% if form_data.profile_picture %}
        {{ form_data.profile_picture }}
    {% endif %}
    <br>
    Welcome 
    {% if form_data.first_name %}
        {{ form_data.first_name }}
        {% if form_data.last_name %}
            {{ form_data.last_name }}
        {% endif %}
    {% else %}
        {{ form_data.username }}
    {% endif %}
    ! <br><br>
    Your Details are: <br><br>
    <table style="border: 1px solid black;">
        <tr style="background-color: #96D4D4;">
            <th>Username</th>
            {% if form_data.email %}
                <th>Email</th>
            {% endif %}
            {% if form_data.address %}
                <th>Address</th>
            {% endif %}
            <th>Category</th>
        </tr>
        <tr style="background-color: #96E4D0;">
            <td>{{ form_data.username }}</td>
            {% if form_data.email %}
                <td>{{ form_data.email }}</td>
            {% endif %}
            {% if form_data.address %}
                <td>{{ form_data.address }}</td>
            {% endif %}
            <td>{{ form_data.category }}</td>
        </tr>
    <table>
{% endif %}

