{% extends 'base_iframe.html' %}

{% block content %}
    <br>
    <button id="create_timesheet_btn" class="btn btn-info">CREATE TIMESHEET</button>
    <br><br>
    <fieldset class="border p-2">
        <h2 align="center">TIMESHEETS</h2>
        <form action="/timesheets/" method="GET">
            {% csrf_token %}
            Choose Date: <input type="date" class="form-control" name="timesheet_date" id="timesheet_date" min="2019-01-01" max="2030-12-31" value="{{timesheet_date}}">
            <!-- Use location.href=location.href to reload the page. -->
            <button class="btn btn-primary" onclick="location.href=location.href">RELOAD TIMESHEET</button>
            <br><br>
        </form>

        <form action="/timesheets/" method="POST">
            {% if submitted %}
                <b>TIMESHEETS PENDING APPROVAL</b>
                <br><br>
                {% for username, project_or_activity in submitted.items %}
                    <b>USERNAME: </b><mark>{{username}}</mark>
                    <br><br>
                    <div class="container">
                        <table class="table table-bordered">
                            <thead> <!-- thead means table head or first row -->
                                <tr class="table-info">
                                    <th>Project:</th>
                                    <th>Tasks:</th>
                                    <th>Hours:</th>
                                    <th>Comments:</th>
                                    <th>Status:</th>
                                    <th>Action:</th>
                                </tr>
                            </thead>
                            <tbody> <!-- tbody is table body. -->
                                {% for project, details  in project_or_activity.items %}
                                    <tr class="table-primary">
                                        <td>{{project}}</td>
                                        <td>{{details.tasks}}</td>
                                        <td>{{details.hours}}</td>
                                        <td>{{details.comments}}</td>
                                        <td>{{details.timesheet_status}}</td>
                                        <td>
                                           <button name="approved" value="{{username}}:{{project}}:approved" class="btn btn-info" onclick="location.href=location.href">Approve</button>
                                            <br><br>
                                            <button name="rejected" value="{{username}}:{{project}}:rejected" class="btn btn-danger" onclick="location.href=location.href">Reject</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            {% endif %}

            {% if rejected %}
                <b>TIMESHEETS REJECTED</b>
                <br><br>
                {% for username, project_or_activity in rejected.items %}
                    <b>USERNAME: </b><mark>{{username}}</mark>
                    <br><br>
                    <div class="container">
                        <table class="table table-bordered">
                            <thead> <!-- thead means table head or first row -->
                                <tr class="table-info">
                                    <th>Project:</th>
                                    <th>Tasks:</th>
                                    <th>Hours:</th>
                                    <th>Comments:</th>
                                    <th>Status:</th>
                                </tr>
                            </thead>
                            <tbody> <!-- tbody is table body. -->
                                {% for project, details  in project_or_activity.items %}
                                    <tr class="table-primary">
                                        <td>{{project}}</td>
                                        <td>{{details.tasks}}</td>
                                        <td>{{details.hours}}</td>
                                        <td>{{details.comments}}</td>
                                        <td>{{details.timesheet_status}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            {% endif %}

            {% if approved %}
                <b>TIMESHEETS APPROVED</b>
                <br><br>
                {% for username, project_or_activity in approved.items %}
                    <b>USERNAME: </b><mark>{{username}}</mark>
                    <br><br>
                    <div class="container">
                        <table class="table table-bordered">
                            <thead> <!-- thead means table head or first row -->
                                <tr class="table-info">
                                    <th>Project:</th>
                                    <th>Tasks:</th>
                                    <th>Hours:</th>
                                    <th>Comments:</th>
                                    <th>Status:</th>
                                </tr>
                            </thead>
                            <tbody> <!-- tbody is table body. -->
                                {% for project, details  in project_or_activity.items %}
                                    <tr class="table-primary">
                                        <td>{{project}}</td>
                                        <td>{{details.tasks}}</td>
                                        <td>{{details.hours}}</td>
                                        <td>{{details.comments}}</td>
                                        <td>{{details.timesheet_status}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            {% endif %}

            {% if pending %}
                <b>TIMESHEETS PENDING SUBMISSION</b>
                <br><br>
                {% for username, project_or_activity in pending.items %}
                    <b>USERNAME: </b><mark>{{username}}</mark>
                    <br>
                    <b>PROJECTS:</b>
                    <br>
                    <ul>
                    {% for project in project_or_activity %}
                        <li>
                            {{project}}
                        </li>
                    {% endfor %}
                    </ul>
                    <button name="timesheet_reminder" value="{{username}}:{{project_or_activity}}" class="btn btn-info" onclick="location.href=location.href">SEND REMINDER</button>
                    <br><br>
                {% endfor %}
            {% endif %}
        </form>
    </fieldset>
    <br>

    <div id="create_timesheet" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>
                <iframe src="{% url 'create_timesheet' %}" height="501" width="100%"></iframe>
            </p>
        </div>
    </div>

    <script>  // Settings for Modal
        // Get the modal
        var modal = document.getElementById("create_timesheet");

        // Get the button that opens the modal
        var btn = document.getElementById("create_timesheet_btn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

/*
        $(".modal").on("hidden.bs.modal", function () {
            $(".modal-content").html("");
        });
*/

        function update_date() {
            var chosen_date = document.getElementById("timesheet_date").value;
            if (chosen_date == "") {
                alert("Please Choose a Date First!")
            } else {
                alert("Displaying TimeSheets for the Date: " + chosen_date)
            }
        };

    </script>

{% endblock %}

